html, body {
	height:100%;
	background: black;
		}

section{
	background: #144F54;
	font: 30px;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 2);
	float: left;
	width: 81%;
	height: 85%;
	background-image: url("http://file2.npage.de/014013/83/bilder/table.png");
}

header{
	background: #0B3549;
	color: white;
	font: 22px "Lucida Console";
	padding: 24px 15px;
	float: left;
	width: 99%;
	height: 6%;
	
}

#menu {
	position: relative;
	transform: translateY(-100%);
	border-radius: 8px;
    	background: #0C2951;
	height: 30px;   
	font-size: 30px;
	color: white;
	text-decoration: none;
	padding: 5px 6px 5px 4px; /*top right bottom left*/
	
}

aside {
	background: #0C3A1A;
	float: left;
	border-radius: 5px;
	color: white;
	font: 14px/24px "Lucida Console";
	padding: 24px 15px;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
	display:block;
	height: 80%;
	width: 17%;
	background-image: url("http://file2.npage.de/014013/83/bilder/4238051-background.jpg");
}

/* Buttons: Inventar und fertige Türme(score) */
#inventar, #score {
	border-radius: 8px;
	height: 80px;
	width: 300px;
	background: #0C2951;
	font-size: 40px;
	color: white;
	text-decoration: none;
	padding: 6px 16px 6px 6px;
	text-shadow: 2px 2px black;
	margin-top: 40px;
	display: flex;
	align-items: center;
}



#feld {
	padding: 50px 0px 0px 600px;
}
			
a {
	display: inline-block;
	border: 1px solid black;
	border-radius: 3px;
}

img {
	margin: auto;
	display: block;
	max-width: 700px;
	height: 220px;
}

h1,h2 {
	text-align: center;
	padding: -40px 0px 0px 0px; /*top right bottom left*/
}

#gunst {
	background-color: #0C2951;
	text-align: center;
}

#jahr {
	background-color: #270849;
	text-align: center;
}

/* Auflistung: Spieler, Asara, punkte. */
table {
	color: white;
	border: 3px solid orange;
	font-size: 20px;
	text-align: center;
	text-shadow: 2px 2px black;
}
#tableHead {
	background-color: orange;
}
#asari{
	color: yellow;
}
#points {
	color: cc6600;
}




/* Tooltips per mouseOver */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 9px;
    padding: 30px 10px;
    position: absolute;
    z-index: 1;
    top: -40px;
    right: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
